.myButton {
    background-color:#d2faf7;
    border-radius:28px;
    border:1px solid #171a17;
    display:inline-block;
    cursor:pointer;
    color:#120812;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #070a07;
}


.myButton:hover {
    background-color:#f2cef2;
}

.myButton:active {
    position:relative;
    top:1px;
}