



.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 4em;

    /*border: 2px solid yellow;*/
}

.wrapper>
    div{
        background:lightgray;
        padding: 1em;
    }

    

.postWrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align:start;
    /*border: 2px solid black;*/
} 


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10%;
}

.mainTitle {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    color: lightpink;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    .aboutText {
        text-align: center;
    }

    

    

      /*div{
          border: 2px solid black;
      }*/